/* Generals */
body {
  margin: 0;
  background: #d0f08c;
  color: #333333;
  font-family: monospace;
  transition: background 0.5s, color 0.5s;
}

header {
  display: grid;
  grid-template-columns: auto auto;
  height: 220px;
  position: sticky;
  top: 0;
  background: #f4fde6;
  border-radius: 0 0 10px 10px;
  padding: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: background 0.5s;
}

.bpm-input, .keynote {
  width: 150px;
  height: 30px;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #FFFFFF;
  color: #333333;
  transition: background 0.5s, color 0.5s;
}

#chord-diagram-bar {
  max-height: 150px;
  display: flex;
  align-items: flex-end;
  width: 378px;
}

#chord-diagram-current, #chord-diagram-next {
  height: 100%;
  border: 2px solid #CCCCCC;
  transition: opacity 0.5s, border-color 0.5s;
}

#chord-diagram-next, #chord-next {
  opacity: 0.7;
}

ul#chords {
  display: flex;
  padding: 10px;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 30px;
}

ul#chords li {
  list-style: none;
  background: #a205fc;
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 3px;
  cursor: pointer;
  color: #333333;
  transition: background 0.5s, color 0.5s;
}

ul#chords li.actived {
  background: #FFFFFF;
}

ul#chords li.active {
  background: linear-gradient(to right, #FFFFFF 50%, #FFC107 50%);
  background-size: 200% 100%;
  animation-name: slideBackground;
  --animation-duration: 1s;
  animation-duration: var(--animation-duration);
  animation-timing-function: linear;
}

audio {
  width: -webkit-fill-available;
}

@keyframes slideBackground {
  from {
    background-position: right;
  }
  to {
    background-position: left;
  }
}

button {
  background-color: #9e2428;
  color: #FFFFFF;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #7f0c0c;
}

#dark-mode-toggle {
  position: fixed;
  top: 10px;
  right: 20px;
  background-color: #333333;
  border-radius: 5px;
  padding: 5px;
}

#dark-mode-toggle button {
  background-color: #333333;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#dark-mode-toggle button:hover {
  background-color: #555555;
}

.dark-mode {
  background: #1E1E1E;
  color: #CCCCCC;
}

.dark-mode header {
  background: #2E2E2E;
}

.dark-mode .bpm-input, .dark-mode .keynote {
  background: #333333;
  color: #CCCCCC;
  border: 1px solid #666666;
}

.dark-mode ul#chords li {
  background: #444444;
  color: #CCCCCC;
}

.dark-mode ul#chords li.actived {
  background: #666666;
}

.dark-mode ul#chords li.active {
  background: linear-gradient(to right, #666666 50%, #444444 50%);
}

.dark-mode button {
  background-color: #555555;
}

.dark-mode button:hover {
  background-color: #777777;
}

.dark-mode #dark-mode-toggle {
  background-color: #555555;
}

.dark-mode #dark-mode-toggle button {
  background-color: #555555;
  color: #CCCCCC;
}

.dark-mode #chord-diagram-current, .dark-mode #chord-diagram-next {
  border: 2px solid #666666;
  opacity: 1;
}

/* chord_db html styles */
#table-container {
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background-color: #fff;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: center;
}

th {
  background-color: #007bff; /* header colour */
  color: white; /* text header colour */
}

tr:nth-child(even) {
  background-color: #f9f9f9; 
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

tr:hover {
  background-color: #f1f1f1;
}

canvas {
  display: block;
  margin: 20px auto;
}
