body {
  margin: 0;
  background: #F08080;
  color: #424242;
  font-family: monospace;
}

header {
  display: grid;
  grid-template-columns: auto auto;
  height: 200px;
  position: sticky;
  top: 0;
  background: #F5F5F5;
  border-radius: 0 0 10px 10px;
  padding: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.bpm-input {
  width: 150px;
  height: 20px;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.keynote {
  width: 150px;
  height: 20px;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#chord-diagram-bar {
  max-height: 150px;
  display: flex;
  align-items: flex-end;
  width: 378px;
}

#chord-diagram-current,
#chord-diagram-next {
  height: 100%;
}

#chord-diagram-next,
#chord-next {
  opacity: 0.7;
}

ul#chords {
  display: flex;
  padding: 10px;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 30px;
}

ul#chords li {
  list-style: none;
  background: #C6FF00;
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 3px;
  cursor: pointer;
  color: #424242;
}

ul#chords li.actived {
  background: #FFFFFF;
}

ul#chords li.active {
  background: linear-gradient(to right, #FFFFFF 50%, #C6FF00 50%);
  background-size: 200% 100%;
  animation-name: slideBackground;
  --animation-duration: 1s;
  animation-duration: var(--animation-duration);
  animation-timing-function: linear;
}

audio {
  width: -webkit-fill-available;
}

@keyframes slideBackground {
  from {
    background-position: right;
  }
  to {
    background-position: left;
  }
}

button {
  background-color: #9E9D24;
  color: #FFFFFF;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #7B7F0C;

#tempo-changes,
#key-changes,
#song-structure {
  margin-top: 0px;
}
